<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>RR Gym Sign-Up</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>

<body>
    <header>
        <div class="header">
            <div>
                <a href="" id="logo-text"><img src="../../assets/img/logo-rr.png"
                        alt="Radium Rocket Logo text version"></a>
            </div>
            <div>
                <h1>Mega Rocket S.A</h1>
            </div>
        </div>
    </header>
    <main>
        <a href="index.html" class="back-arrow" id="su-back"><img src="../../assets/img/back.png" alt="back arrow"></a>
        <div class="rr-side-logo">
            <img src="../../assets/img/logo-rr.png" alt="Radium Rocket Logo text version">
        </div>
        <div class="signup-box">
            <a href="index.html" class="back-arrow" id="su-back-inside"><img src="../../assets/img/back.png" alt="back arrow"></a>
            <img src="../../assets/img/logo-rr-rocket.png" alt="Radium Rocket logo" id="rr-logo">
            <form class="signup-input" id="sign-input">
                <div class="signup-field">
                    <div class="left-input">
                        <label>
                            <div>First Name<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="sfname" name="sfname" placeholder="Insert your name">
                        </label>
                        <div class="error" id="sfnameError"></div>
                        <label>
                            <div>Last Name<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="slname" name="slname" placeholder="Insert your surname">
                        </label>
                        <div class="error" id="slnameError"></div>
                        <label>
                            <div>Id<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="sid" name="sid" placeholder="Insert your id">
                        </label>
                        <div class="error" id="sidError"></div>
                        <label>
                            <div>Birth date<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="date" id="sbdate" name="sbdate" placeholder="Insert your birth date">
                        </label>
                        <div class="error" id="sbdateError"></div>
                        <label>
                            <div>Phone number<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="spnumber" name="spnumber" placeholder="Insert your phone number">
                        </label>
                        <div class="error" id="spnumberError"></div>
                        <label>
                            <div>Address<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="sadress" name="sadress" placeholder="Insert your adress">
                        </label>
                        <div class="error" id="sadressError"></div>
                    </div>
                    <div class="right-input">
                        <label>
                            <div>City<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="scity" name="scity" placeholder="Insert your city">
                        </label>
                        <div class="error" id="scityError"></div>
                        <label>
                            <div>Postal code<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="spcode" name="spcode" placeholder="Insert your postal code">
                        </label>
                        <div class="error" id="spcodeError"></div>
                        <label>
                            <div>Email<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="text" id="semail" name="semail" placeholder="Insert your e-mail">
                        </label>
                        <div class="error" id="semailError"></div>
                        <label>
                            <div>Password<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="password" id="spass" name="spass" placeholder="Insert your password">
                        </label>
                        <div class="error" id="spassError"></div>
                        <label>
                            <div>Repeat Password<img src="../../assets/img/question-mark.png" alt="Question mark"></div>
                            <input type="password" id="srpass" name="srpass" placeholder="Repeat your password">
                        </label>
                        <div class="error" id="srpassError"></div>
                    </div>
                </div>
                <div class="up-button">
                    <label><a href="">Accept terms and conditions?</a> <input type="checkbox" id="scb"
                            name="scb"></label>
                </div>
                <input type="submit" value="Sign up">
                <label id="login">Already have an account?<a href="login.html">Login</a></label>
            </form>
        </div>
    </main>
    <footer>
        <small>Copyright © 2022 Radium Rocket. All rights reserved.</small>
        <div class="social-media">
            <a href="https://mail.google.com/mail/u/3/#inbox" target="_blank">
                <img src="../../assets/img/gmail-logo.png" alt="gmail logo"></a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../../assets/img/facebook-logo.png" alt="facebook/meta logo"></a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../../assets/img/instagram-logo.png" alt="instagram logo"></a>
        </div>
    </footer>
    <script type="text/javascript" src="../js/sign-up.js"></script>
</body>

</html>