<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RR Gym Login</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <header>
        <div class="header">
            <div>
            </div>
            <div>
                <a href="" id="l-logo-text"><img src="../../assets/img/logo-rr.png"
                        alt="Radium Rocket Logo text version"></a>
            </div>
            <div>
                <h1>Mega Rocket S.A</h1>
            </div>
        </div>
    </header>
    <main>
        <a href="index.html" class="l-back-arrow" id="l-su-back"><img src="../../assets/img/back.png" alt="back arrow"></a>
        <div class="l-rr-side-logo">
            <img src="../../assets/img/logo-rr.png" alt="Radium Rocket Logo text version">
        </div>
        <div class="login-box">
            <a href="index.html" class="l-back-arrow" id="l-su-back-inside"><img src="../../assets/img/back.png"
                    alt="back arrow"></a>
            <img src="../../assets/img/logo-rr-rocket.png" alt="Radium Rocket logo" id="rr-logo">
            <form class="login-input" id="log-input">
                <div class="login-field">
                    <label for="lmail">Email<div class="icon-input">
                            <img src="../../assets/img/user.png" alt="user logo"><input type="text" id="lmail"
                                name="lmail" placeholder="Insert your email">
                        </div>
                    </label>
                    <div class="error" id="lEmailError"></div>
                    <label for="lpass">Password<div class="icon-input">
                            <img src="../../assets/img/password.png" alt="password logo"><input type="password" id="lpass"
                                name="lpass" placeholder="Insert your password">
                        </div>
                    </label>
                    <div class="error" id="lPassError"></div>
                </div>
                <div class="l-up-button">
                    <label>Keep me Signed<input type="checkbox" id="scb" name="scb"></label>
                    <label><a href="">Forgot password?</a></label>
                </div>
                <input type="submit" value="Login">
                <label><a href="sign-up.html">Sign up</a></label>
            </form>
        </div>
    </main>
    <footer>
        <small>Copyright © 2022 Radium Rocket. All rights reserved.</small>
        <div class="social-media">
            <a href="https://mail.google.com/mail/u/3/#inbox" target="_blank">
                <img src="../../assets/img/gmail-logo.png" alt="gmail logo"></a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../../assets/img/facebook-logo.png" alt="facebook/meta logo"></a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../../assets/img/instagram-logo.png" alt="instagram logo"></a>
        </div>
    </footer>
    <script type="text/javascript" src="../js/login.js"></script>
</body>

</html>