header {
    padding: 10px;
    background: #373867;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    color: #AACE9B;
    font-weight: 700;
    font-size: 8vw;
    line-height: 35px;
}
header .hamburguer img{
    min-width: 20px;
    max-width: 50px;
}
header #logo-text img{
    display: none;
}
@media (min-width: 480px) {
    header {
        margin-left: 20vw;
        padding: 2vw;
    }
    .header {
        justify-content: left;
    }
    h1 {
        margin-left: 3vw;
        font-size: 3vw;
    }
    header #logo-text img {
        display:inline;
        width: 20vw;
    }
    .hamburguer img {
        display: none;
    }
}